{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}  حذف مقاله {% endblock %}{% endblock %}


{% block main %}
<div class="col-md-8 mx-auto text-center">
    <div class="card card-danger">
        <div class="card-header py-3">
            <h3 class="card-title mb-0 float-left">تایید حذف</h3>
        </div>
            <form method="post">{% csrf_token %}
                <p style='margin:10px;'>آیا از حذف مقاله <strong style='color:green;'>«{{object.title}}»</strong> از <strong style='color:brown;'>«{{object.author.get_full_name}}»</strong> مطمعن هستید ؟</p>
                <input type="submit" value="حذف" class="btn btn-danger w-25 my-2">
            </form>
    </div>
</div>
{% endblock %}
