{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %} تغیر گذرواژه {% endblock %}{% endblock %}


{% block main %}
<div class="col-md-8 mx-auto text-center">
    <div class="card card-success">
        <div class="card-header py-3">
            <h3 class="card-title mb-0 float-left">عملیت موفق</h3>
        </div>

        <p style='margin:10px; background-color : #a2ff78; ' class="alert"><strong>گذرواژه با موفقیت تغیر یافت.</strong></p>

    </div>
</div>
{% endblock %}
